@model MVC_app.Models.UserModel

<div class="text-center">
	<h1> @Model.Login</h1>
	@if (@Model.Verif)
	{
		@if (@Model.Admin)
		{
			<p>You are Admin</p>
		}
		else
		{
			<p>You are User</p>
		}
	}
	else
	{
		<p>ERROR Invalid password</p>
		<a href="@Url.Action("Index")"><span>Tap here</span></a>
	}
</div>